:root {
  --grass-bg: #48d0b0;
  --number: rgba(0, 0, 0, 0.4);
  --type-bg: rgba(255, 255, 255, 0.4);
  --normal: #c4beb5;
  --fighting: #83351c;
  --flying: #90a1d3;
  --poison: #914493;
  --ground: #d1b056;
  --rock: #b7a156;
  --bug: #9fae1e;
  --ghost: #5c5ca6;
  --steel: #8f8e9da;
  --fire: #e74016;
  --water: #4989c8;
  --grass: #3b9536;
  --electric: #fabb1c;
  --psychic: #e94980;
  --ice: #75caeb;
  --dragon: #645fa7;
  --dark: #3f2d23;
  --fairy: #e0b2d4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "pokeFont";
  src: url("../Fonts/PokemonGb-RAeo.ttf");
}

body {
  background: rgb(131, 165, 196);
  background: linear-gradient(
    -45deg,
    rgba(131, 165, 196, 1) 47%,
    rgba(246, 248, 252, 1) 100%
  );
  background-repeat: no-repeat;
  font-family: pokefont;
  height: 100vh;
}

.control {
  background-color: white;
  max-width: 25rem;
  margin: 0.5rem auto;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.control__button {
  cursor: pointer;
  padding: 0.2rem 0.3rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.pokedex {
  background-color: white;
  padding: 3rem 0 0;
  width: 25rem;
  height: 40rem;
  border-radius: 15px;
  background-color: var(--water);
  background-image: url("../Images/poke-minimal--card.svg");
  background-size: 12rem;
  background-repeat: no-repeat;
  background-position: left 110% bottom 70%;
}

.pokemon {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.pokemon__head {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 0rem 1.2rem;
  margin-bottom: 9.5rem;
}

.pokemon__head h3 {
  align-self: flex-end;
  color: var(--number);
}

.pk-types__type {
  background-color: var(--type-bg);
  border-radius: 15px;
  padding: 0.3rem 0.5rem;
}

.pokemon__picture {
  position: absolute;
  bottom: 5rem;
  display: flex;
  justify-content: center;
  /* left: 45%; */
  right: 42%;
  bottom: 55%;
}

.pokemon__picture img {
  max-width: 10rem;
  max-height: 11rem;
}

.pokemon__info {
  background-color: white;
  border-radius: 15px;
  height: 100%;
  padding: 0.5rem 1rem;
}

/* Stats Tabs */
.pokemon__info .tab-header {
  height: 60px;
  display: flex;
  align-items: center;
}
.pokemon__info .tab-header > div {
  width: calc(100% / 2);
  text-align: center;
  color: #888;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
}
.pokemon__info .tab-header > div > i {
  display: block;
  margin-bottom: 5px;
}
.pokemon__info .tab-header > div.active {
  color: #00acee;
}
.pokemon__info .tab-indicator {
  position: relative;
  width: calc(100% / 2);
  height: 5px;
  background: #00acee;
  left: 0px;
  border-radius: 5px;
  transition: all 500ms ease-in-out;
}
.pokemon__info .tab-body {
  position: relative;
  height: calc(100% - 60px);
  padding: 10px 5px;
}
.pokemon__info .tab-body > div.active {
  width: 100%;
}
.pokemon__info .tab-body > div {
  position: absolute;
  top: -200%;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 500ms ease-in-out 0ms, transform 500ms ease-in-out 0ms;
}
.pokemon__info .tab-body > div.active {
  top: 0px;
  opacity: 1;
  transform: scale(1);
}

.stat-container {
  padding: 1rem;
}

.stat-container__list {
  list-style-type: none;
}

.stat-container__list li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.8rem 0;
  /* Agregar un border */
}
